/* ==================================
 * Common
 * ================================== */
body {
    font-family: "Microsoft JhengHei";
}

section {
    padding: 10px 0 20px;
}

a {
    transition: .3s ease-in-out;
}

/* ==================================
 * Common
 * ================================== */
.icon, .icon-md, .icon-sm {
    transition: .3s linear;

}

.icon {
    max-width: 100px;
    fill: #000;
}

.icon-md {
    width: 20px;
    height: 20px;
}

.icon-sm {
    width: 15px;
    height: 15px;
}

/* ==================================
 * Header
 * ================================== */
.header-top {
    height: 126px;
    padding: 38px 0 25px;

    .navbar-brand {
        font-size: 26px;
        color: black;
        font-family: 'Noto Sans TC', sans-serif;
        span {
            color: #EB4847;
        }
    }

    .account {
        a {
            display: inline-block;
            padding: 10px;
            border: 1px solid #ddd;
        }
        .f-icon {
            font-size: 23px;
            color: black;
        }
    }

}

.navbar-light.navbar {
    background-color: #EB4847;


    .nav-link {
        color: white;
    }
}

.navbar-nav > .nav-item > .dropdown-menu {
    top: 33px;
}

.dropdown-menu .dropdown-menu {
    left: 100%;
    top: 0;
}

.navbar-light .nav-link {
    &.btn:hover {
        color: #fff;
    }

    &:hover {

    }
}


/* ==================================
 * Pages
 * ================================== */
.page__banner {
    height: 288px;
    background-repeat: no-repeat;
    background-size: cover;
}


.page__order {
    .order-item {
        transition: .2s linear;
        cursor: pointer;

        & div[class^="col-"]:first-child {
            line-height: 38px;
        }

        &:hover {
            background-color: gold;
        }

        .icon-md {
            fill: gray;

            &:hover {
                fill: red;
            }
        }
    }

    .order_list {

        & > .row {
            position: relative;

            &:before {
                //content: attr(data-index);
                //position: absolute;
                //top: 0;
                //z-index: 2;
                //background-color: #d9d9d9;
                //padding: 0 2px;
                //font-size: 13px;
            }
        }
    }

}

.store-image {
    max-width: 100%;
    height: 246px;
    overflow: hidden;
    //display: flex;
    //background-color: transparent;
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-position: center;
    //justify-content: center;

    a {
        text-align: center;

        &:hover {
            img {
                transform: scale(1.1) rotate(2deg);
            }
        }
    }

    img {
        height: 100%;
        margin: auto;
        object-fit: cover;
        width: 100%;
        transition: .3s linear;
    }
}

/* ==================================
 * Orders
 * ================================== */
.accordion {
    .card-header {
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    }
}