/* ==================================
 * Common
 * ================================== */
body {
    font-family: "Microsoft JhengHei";
}

section {
    padding: 70px 0 70px;
}


/* ==================================
 * Common
 * ================================== */
.icon {
    max-width: 100px;
    fill: #000;
}