// Mixin
@mixin btn-act {
    background-color: #fa5738;
    padding: 8px 30px;
    color: #fff;
    font-size: 17px;
    border-radius: 21px;
    @content;
    &:hover {
        text-decoration: underline;
        background: linear-gradient(180deg, rgb(236, 141, 122), rgb(230, 57, 24));
        @content;
    }
}

@mixin fontAwesome-icon {
    font-family: 'FontAwesome';
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    @content;
}

@mixin limitLeight {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    @content;
    // -webkit-line-clamp: 2;
    // line-height: 1.5em;
    // height: 71px;
}

@mixin s-hidden {
    @include breakpoint(s);
    display: none;
    @content;
}

@mixin s-show {
    @include breakpoint(s);
    display: block;
    @content;
}

@mixin jh-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @content;
}

@mixin breakpoint($point) {
    @if $point == sl {
        @media (min-width: 1921px) {
            @content;
        }
    } @else if $point == 1600 {
        @media (min-width: 1600px) {
            @content;
        }
    } @else if $point == 1440 {
        @media (min-width: 1440px) {
            @content;
        }
    } @else if $point == 1366 {
        @media (min-width: 1366px) {
            @content;
        }
    } @else if $point == xl {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $point == lg {
        @media (min-width: 992px) {
            @content;
        }
    } @else if $point == md {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $point == sm {
        @media (min-width: 576px) {
            @content;
        }
    } @else if $point == xs {
        @media (min-width: 415px) {
            @content;
        }
    } @else if $point == s {
        @media (max-width: 414px) {
            @content;
        }
    } @else if $point == 375 {
        @media all and (min-width: 375px) {
            @content;
        }
    } @else if $point == 360 {
        @media all and (min-width: 360px) {
            @content;
        }
    } @else if $point == 320 {
        @media all and (min-width: 320px) {
            @content;
        }
    } @else if $point == 568 {
        @media (min-width: 568px) and (orientation: landscape) {
            @content;
        }
    } @else if $point == 1024 {
        @media (min-width: 1024px) and (orientation: landscape) {
            @content;
        }
    }
}