.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow.admin-header
    div.d-flex
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#sidebarMenu' aria-controls='navbarToggleExternalContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        a.navbar-brand.px-3(href='m-index.html',title='')
            img(src='images/logo.svg',title='' width='150' height='24')
    //-
        button.navbar-toggler.position-absolute.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#sidebarMenu' aria-controls='sidebarMenu' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
    //input.form-control.form-control-dark.w-100(type='text' placeholder='Search' aria-label='Search')
    ul.navbar-nav.px-3.d-flex.flex-row
        li.nav-item.text-nowrap.me-4
            a.nav-link(href='index.html',title='') 前台首頁
        li.nav-item.text-nowrap
            a.nav-link(href='logout.html',title='') 登出
