extends include/_layout
block vars
    - var module='groupbuy'
    - var headerClass = ''
block content
    main.page-groupbuy
        section.innerpage-banner(style='background-image:url(archive/innerpage-banner.jpg);')
            .innerpage-text
                h1.innerpage-title
                    |大胖肉羹 中國醫店
                ul.store-meta
                    li
                        i.fa.fa-circle
                        | 75-100TWD 費用
                    li
                        i.fa.fa-circle
                        | 準時
                    li
                        i.fa.fa-circle
                        | 滿 500 外送
            button.btn.btn-modal-call(type='button' data-bs-toggle='modal' data-bs-target='#groupbuyCallModal')
                i.fa.fa-user-plus
                | 發起團購訂單

            #groupbuyCallModal.modal.fade.groupbuy-modal(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-body.groupbuy-body
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                            .groupbuy-body__content
                                .text-center
                                    img(src='images/groupbuy-modal.svg',width='200', height='96')
                                h1.title
                                    | 我的團購訂單
                                p.description 在下一步邀請賓客使用可分享連結新增餐點。所有人都訂完後，再幫大家訂餐及付款。
                                ul.store-detail
                                    li
                                        div.mb-1
                                            i.fa.fa-chess-pawn
                                            | 團購負責人
                                            em.red *
                                        .row
                                            .col-sm-6.mb-2
                                                input.form-control(type='text' value='' placeholder='請輸入團購負責人' name='group_host_new')
                                            .col-sm-6
                                                select.form-control(name='group_host')
                                                    option(value='0' selected='selected') 或選擇團購負責人
                                                    option(value='阿翰' name='host_name') 阿翰
                                                    option(value='Tony' name='host_name') Tony
                                                    option(value='岑' name='host_name') 岑
                                                    option(value='小幫手' name='host_name') 小幫手
                                                    option(value='帥哥' name='host_name') 帥哥
                                                    option(value='思' name='host_name') 思
                                                    option(value='美女' name='host_name') 美女
                                    li
                                        i.fa.fa-heart
                                        | 大胖肉羹 中國醫店
                                    li
                                        i.fa.fa-phone
                                        a(href='tel:0422490558',title='')
                                            | 04-22490558
                                    li
                                        i.fa.fa-coins
                                        | 滿 500 外送
                                    li
                                        .row
                                            .col-sm-6.mb-2
                                                #datetimepicker_date.input-group.date(data-target-input='nearest')
                                                    input.form-control.datetimepicker-input(type='text' data-target='#datetimepicker_date' name='endTime_day' required='required' placeholder='收單日期 *')
                                                    .input-group-append(data-target='#datetimepicker_date' data-toggle='datetimepicker')
                                                        .input-group-text
                                                            svg.icon-sm(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512')
                                                                path(d='M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z')
                                            .col-sm-6
                                                #datetimepicker_time.input-group.date(data-target-input='nearest')
                                                    input.form-control.datetimepicker-input(type='text' data-target='#datetimepicker_time' name='end_time_hour' required='required' placeholder='收單時間 *')
                                                    .input-group-append(data-target='#datetimepicker_time' data-toggle='datetimepicker')
                                                        .input-group-text
                                                            svg.icon-sm(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                                                                path(d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z')
                                    li
                                        i.fa.fa-sticky-note
                                        label.mb-1(for='') 注意事項
                                        input.form-control(type='text' value='' name='remark' placeholder='請輸入注意事項')

                                button.btn-login(onclick='location.href="order.html"')
                                    | 建立訂單
        section.store-info
            .container-fluid
                ul.d-flex.flex-column
                    li.category
                        i.fa.fa-folder-open
                        | 中式美食
                    li.address
                        i.fa.fa-map-marker-alt
                        |台中市北區梅亭街253號, Taichung, 404
                    li.intro
                        i.fa.fa-info-circle
                        |各式炒飯、現炒餐點，每週五公休
                    li.link
                        i.fa.fa-link
                        a(href='javascript:;',title='', target='_blank')
                            |相關網站

        section.groupbuy
            .container-fluid
                h3.groupbuy-title 菜單及圖庫 Restaurant menu
                .row.gx-0
                    -for(var i = 1; i<=6;i++)
                        article.groupbuy-meta
                            .store-image
                                a(href='archive/menu.jpg' data-lightbox='image-1' data-title='菜單')
                                    img(src='archive/menu.jpg',alt='')
        .remark
            .container-fluid
                em 上開資訊是由我們所合作之商家合作夥伴所提供。如對上開資訊有任何疑問，請直接與商家合作夥伴聯繫。