footer.footer.mt-5
    .container-fluid
        .row
            .col-sm-6.col-md-5
                .widget.d-flex.flex-column.justify-content-between.h-100
                    a(href='index.html',title='')
                        figure.d-inline-block
                            img(src='images/logo-light.svg',width='146',height='24',alt='')
                            figcaption.mt-2.text-center （嗯災吃啥）

                    .appstore
                        a(href='https://github.com/john8895/wanna-eat',title='')
                            image(src='images/appstore.png',alt='' width='132')
            .col-sm-6.col-md-3
                .widget
                    ul
                        li
                            a(href='ab-list.html',title='')
                                | 關於 Mzai Eats
                        //-
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
            .col-sm-6.col-md-3
                .widget
                    //-
                    ul
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
                        li
                            a(href='about.html',title='')
                                | 關於 Mzai Eats
    section.copyright
        .d-flex.justify-content-between.align-items-center
            .social-buttons
                a(href='https://www.facebook.com/jgui.chen',title='',target='_blank')
                    i.fab.fa-facebook-square
            div
                | ©&nbsp;2021 Mzai Eats 嗯災吃啥