nav.text-center
    .jh-pagination-wraper
        .pagination
            form#searchFormPage(name='searchFormPage', method='GET')
                ul.pagination-numbers
                    li
                        a.active(href='javascript:;',title='') 1
                    li
                        a(href='javascript:;',title='') 2
                    li
                        a(href='javascript:;',title='') 3